.App {
  /* Custom Lato font for general text */
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;


  background:
    linear-gradient(180deg, rgba(19, 23, 73, 0.8), rgba(19, 23, 73, 0), rgba(19, 23, 73, 0), rgba(19, 23, 73, 0), rgba(19, 23, 73, 0), rgba(19, 23, 73, 0), rgba(19, 23, 73, 0)),
    linear-gradient(20deg, rgba(79, 26, 110, 0.3), rgba(16, 10, 71, 1), rgba(149, 48, 207, 0), rgba(16, 10, 71, 1), rgba(149, 48, 207, 0.9)),
    linear-gradient(60deg, rgba(149, 48, 207, 0.2), rgba(149, 48, 207, 0), rgba(149, 48, 207, 0)),
    linear-gradient(70deg, rgba(61, 48, 207, 0.9), rgba(0, 0, 0, 0), rgba(61, 48, 207, 0)),
    linear-gradient(315deg, rgba(63, 179, 218, 0.7), rgba(0, 0, 0, 0), rgba(61, 48, 207, 0));

  background-color: rgba(16, 10, 71, 1);
  color: white;
}

a:link {
  color: rgba(35, 191, 243, 10);
}

a:visited {
  color: rgba(35, 191, 243, 10);
}



/* ##### Navigation Bar ##### */
.navbar {
  height: 5.0em;
  width: 100vw;

  display: flex;

  align-items: center;
  flex-direction: column;

  /* Slight tint darker than the background */
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: rgba(113, 10, 64, 0.96); */
  /* background: linear-gradient(180deg, rgba(113, 10, 64, 0.96), rgba(113, 10, 64, 0.70),  rgba(113, 10, 64, 0)); */

  /* border-image: linear-gradient(90deg, rgba(35, 191, 243, 1), rgba(35, 191, 243, 0)) 1 100%; */

}

.navigation-border {
  order: 2;
  height: 0.8em;
  width: 100vw;

  background: linear-gradient(90deg, rgba(35, 191, 243, 0.7), rgba(35, 191, 243, 0));
}


.navigation {
  order: 1;
  height: 5.0em;
  width: 60vw;

  display: flex;
  justify-content: space-around;

  flex-grow: 0;
  /* background-color: rgba(113, 10, 64, 0.96); */

}

.nav-button {
  /* Raleway thin font family */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  height: 100%;
  width: fit-content;
  font-size: 1.5em;
  border: 0;

  color: white;
  /* full transparent */
  background-color: rgba(0, 0, 0, 0);
}

.nav-button:hover {
  color: rgba(203, 162, 243, 1);
  cursor: pointer;
  /* background-color: rgba(196, 1, 208, 0.84); */
  border-radius: 1em;
}




/* ##### Main Body Text ##### */
/* All content not including the top most header */
.body {
  /* background-color: violet; rgba(35, 191, 243, 0.96)*/
  /* background: linear-gradient(0.25turn, rgba(155, 23, 234, 0.96), rgba(155, 23, 234, 0), rgba(155, 23, 234, 0.96)); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 0;
  width: 100vw;

}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  min-height: 0;
  width: 100%
}



/* ##### Contact Info ##### */
.contact-info-header {
  /* Raleway thin font family */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.75em;
}

.contact-info-description {
  width: max(20vw, 30em);

  padding-bottom: 3em;
}

.contact-info-entry-name {
  font-weight: bold;
}

.contact-info-entry-link {
  color: white;
}



/* ##### Portrait Exhibit Code ###### */

.portrait-exhibit {
  height: 70%;
  width: 60%;

  display: flex;
  justify-content: space-between;
  min-height: 0;

}

.portrait-container {
  order: 1;
  min-height: 0;
  height: auto;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  
}

.portrait-frame>img {
  object-fit: contain;
  height: 100%;
  width: 100%;

  border-radius: 0% 20% 0% 20%;

  border-width: 10pt;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
}

.portrait-description {
  order: 2;
  min-height: 0;
  height: auto;
  width: 45%;

  display: flex;
  justify-content: center;
  align-items: center;


  /* background-color: rgba(10, 15, 80, 0.7); */
  background-color: rgba(0, 0, 0, 0.3);

  border-radius: 3em;
}

/* ##### Description Box ##### */
.description-box {
  height: 100%;
  width: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;

  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
}

.description-title {
  order: 1;
  flex-grow: 0;
  
  margin: 0.2em 0 0.2em 0;

  /* Raleway thin font family */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  font-size: 1.75em;
}

.description-list {
  order: 2;
  flex-grow: 1;
  min-height: 0;

  /* list-style: none; */
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

.description-list-item {
  /* Hide the content to let it slide */
  animation: slide 1s forwards;
  position: relative;
  left: 100%;
  padding: 0.25em;
  margin: 0;
}

.description-list-item.quote-italics {
  animation: slide 1s forwards;
  position: relative;
  left: 100%;
  padding: 0.25em;
  margin: 0;

  font-style: italic;
}

.description-list-item.description-list-item-image {
  animation: slide 1s forwards;
  position: relative;
  left: 100%;

  object-fit: contain;
  width:100%;
}

.description-list-item.about-me-description-header {
  animation: slide 1s forwards;
  position: relative;
  left: 100%;
  width:100%;

  padding-top: 1em;
  font-size: 1.5em;
  font-style: italic;
  /* font-weight: bold; */
}

.description-list-item:nth-child(1) {
  animation-delay: 0.1s;
}

.description-list-item:nth-child(2) {
  animation-delay: 0.2s;
}

.description-list-item:nth-child(3) {
  animation-delay: 0.3s;
}

.description-list-item:nth-child(4) {
  animation-delay: 0.4s;
}

.description-list-item:nth-child(5) {
  animation-delay: 0.5s;
}

.description-list-item:nth-child(6) {
  animation-delay: 0.6s;
}

.description-list-item:nth-child(7) {
  animation-delay: 0.7s;
}

.description-list-item:nth-child(8) {
  animation-delay: 0.8s;
}

.description-list-item:nth-child(9) {
  animation-delay: 0.9s;
}

.description-list-item:nth-child(10) {
  animation-delay: 1.0s;
}

.description-list-item:nth-child(n+11) {
  animation-delay: 1.1s;
}

@keyframes slide {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}





/* ##### CV Section ##### */

.cv-exhibit {
  width: 70%;
  height: 80%;

  display: flex;
  justify-content: space-between;
}

.cv-pdf-viewer {
  width: 100%;
  height: 100%;
}



/* ##### Old Code for manual sections and headers for CV section ##### */
/* .cv {
  width: 65%;
  overflow-y: scroll;

  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;



  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5em;
}

.cv-header-list {
  width: 30%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.cv-header-list-item {
  color: white;
  padding: 0.75em;
  border-top: 0.1em solid;
  border-bottom: 0.1em solid;
  border-left: 0 solid;
  border-right: 0 solid;
  border-color: rgba(35, 191, 243, 1);
  border-width: 0;

  font-size: 1em;


  background: linear-gradient(90deg, rgba(1, 8, 74, 0), rgba(1, 8, 74, 0.8), rgba(1, 8, 74, 1), rgba(1, 8, 74, 0.8), rgba(1, 8, 74, 0));

} */